snippet bp "binding.pry"
binding.pry
endsnippet

snippet pry "require 'pry' ; binding.pry"
require 'pry' ; binding.pry
endsnippet

snippet brp "binding.remote_pry"
binding.remote_pry
endsnippet

snippet req "require '<name>'"
require '$0'
endsnippet

snippet reqr "require_relative '<name>'"
require_relative '$1'
endsnippet
